.nav-header{
    .bg-header{
        background-color: #20232a;
    }
    a,
    .nav-link{
        color:white!important;
        &:hover{
            color: #61dafb !important;
        }
        &.active{
            color: #61dafb !important;
        }
        cursor: pointer;
    }


    .dropdown-menu{
        a{
            color: #212529 !important;

        }
    }
 img{
    animation: App-logo-spin infinite 20s linear
 }
 @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }
}


